body{
    font-family: Georgia;
    color: white;
}
header, footer{
    background-color: #824555;
    text-align: center;
    padding: 20px;
}
aside, main{
    width: 30%;
    height: 350px;
}
aside{
    background-color: #A26475;
    float: left;
}
main{
    background-color: #824555;
    float: left;
}
section{
    background-color: #A26470;
    width: 40%;
    height: 350px;
    overflow: auto;
    float: left;
}
img{
    float: left;
    width: 50px;
}
table, th, td, p, dd{
    margin: 10px;
}
dd{
    padding: 20px;
}
th, td{
    border: solid 3px #824555;
    padding: 5px;
}
footer{
    clear: both;
}