*{
    font-family: Garamond;
}
header{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
    float: left;
}
main{
    width: 80%;
    height: 600px;
    float: left;
}
nav{
    background-color: coral;
    width: 20%;
    height: 680px;
    float: right;
}
footer{
    background-color: tomato;
    color: white;
    text-align: center;
    clear: both;
}
img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
section{
    border: solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow: auto;
}
div{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
#jolka{
    background-color: #EEE;
}
#jolka img{
    float: left;
}
#krzysiek{
    background-color: #CCC;
    text-align: right;
}
#krzysiek img{
    float: right;
}
button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}
input{
    width: 500px;
}

