*{
    font-family: Garamond;
    margin: auto;
}
header{
    background-color: brown;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}
menu{
    background-color: orange;
    height: 100px;
    text-align: center;
}
aside,main{
    background-color: beige;
    width: 50%;
    height: 450px;
    font-size: 130%;
    float: left;
}
footer{
    background-color: orange;
    height: 100px;
    text-align: center;
    clear: both;
}
footer p{
    line-height: 100px;
    font-size: 130%;
    font-weight: bold;
    color: brown;
    padding-left: 20px;
}
a{
    text-decoration: none;
    line-height: 100px;
    font-size: 150%;
    font-weight: bold;
    color: brown;
    padding-left: 20px;
}
a:hover{
    color: yellow;
}
h3,img,form{
    padding: 10px;
}
li{
    list-style-image: url(punktor.png)
}
p a{
    text-decoration: underline blue;
    line-height: 0;
    font-size: 100%;
    font-weight: normal;
    color: blue;
    padding-left: 0px;
}
p a:hover{
    color: blue;
}